APP_DEBUG=true
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LANG_PATH=lang
APP_TRANSLATION_CACHE_PATH=storage/cache/translations

DB_DRIVER=pdo_mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=green_framework
DB_USER=root
DB_PASSWORD=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=